*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555555' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/*Anuncio*/
.contenedor-anuncio{
    background: #131313;
    display:flex;
    padding: 4px 30px;
}

.img-anuncio{
    flex:1;
}

.img-anuncio img{
    height:110px;
    margin-left: 30px;
}

.anuncio-desc{
    display:flex;
    color:white;
}

.anuncio-desc-l{
    border-right: 6px double #e60a1e;
    padding-right:5px;
    text-align: right;
}

.anuncio-desc-r{
    padding-left:6px;
    
}
.anuncio-desc-r h1{
    text-align:center;
    padding-top:5%;
}

/*Configuración del Navbar*/

nav{
    background: #202020;
    width:100%;
    height: 45px
}

.main-nav ul{
    text-align:center;
}

.main-nav ul li{
    border-right: 3px solid #555555;
    display: inline-block;
    font-weight: bold;
    padding: 14px 15px;
}

.main-nav ul li:first-child{
    border-left: 3px solid #555555;
}

.main-nav ul li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.main-nav ul li i{
    padding: 0px 10px;
}

.main-nav ul li:hover{
    background: rgb(100, 93, 93);
}

.active{
    background: #e60a1e;
}


/*Menu hamburguesa responsivo*/

.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height:60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}

@media (max-width: 950px){
    
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }

    nav ul li a{
        font-size: 15px;
    }

}

@media (max-width: 858px){
    
    .escaparate{
        display: none;
    }

    .checkbtn{
        display:block;    
    }

    ul{
        position:fixed;
        width:100%;
        height:100vh;
        top:80px;
        background-color:black;
        left:0;
        text-align: center;
    }

    nav ul li{
        display:block;
    }   

    nav ul li a{
        font-size: 20px;
    }
}


/*Imagen escaparate y bienvenida*/

.welcome-text{
    position: absolute;
    width: 600px;
    height: 100px;
    margin: 10% 30%;
    color: white;
    text-align: center;
}

.welcome-text p{
    margin-bottom: 20px;
}

.btn-contact{
    color:white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight:bold;
}

.btn-contact:hover{
    background:white;
    color:rgb(87, 0, 0);
    border:2px solid rgb(87, 0, 0);
    
}

header{
    background: url("../img/grua-header03.png");
    background-color: rgb(87, 0, 0);
    background-blend-mode: luminosity; 
    height: 45vh; 
    background-size:cover;
    background-position: center center;
    position: relative;
}

/*box ofertas*/

.ofertas{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin: 50px 30px;
}

.top-box{
    box-shadow: 5px 5px 20px black;
    border-radius: 1%;
    margin: 10px;
    color: #d6e6e6;
    background-color: #131313;
}

.top-box h1{
    color:white;
}

.top-box img{
    width:100%;
    height:160px;
    border-radius: 1%;
}

.box-desc-text{
    font-size: 14px;
}

.box-desc-text ul{
    margin-left: 15px;
}

.box-desc-text ul li{
    list-style: disc;
}

.box-desc{
    padding: 5px 20px;
}

.box-desc h1{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    min-height:50px;
}

.box-footer{
    text-align: center;
    display:flex;
    flex-direction:column;
    padding: 0% 10% 5%;
}

.precio{
    flex: 1;
    padding: 10px;
    font-size: 20px;
    color: #6666ff;
    text-shadow: 2px 2px 4px #000000;
}

.box-btn{
    border: 1px solid #e60a1e;
    color:#e60a1e;
    font-weight: bolder;
    padding:5px;
    background-color: #202020;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 15px;
    width:150px;
    margin-left: 20%;
}

.box-btn:hover{
    color:white;
    background: #e60a1e;
    border-color:  white;
}

/*Animación box ofertas*/

.box-btn2{
    display:none;
}

.top-box:hover .box-content{
    display:none;
}

.top-box:hover .box-btn2{
    display:block;
    padding:50% 10%;
    font-weight:bold;
    text-transform: uppercase;
    font-size:15px;
}

.top-box:hover{
    background:black;
    transition:  0.7s;
    cursor: pointer;
}


/*footer*/

footer{
    padding-top: 10px;
    background: #e60a1e;
    color: white;
    display:flex;
    justify-content:space-around;
}

footer p{
    font-weight:bold;
}

footer img{
    flex:1;
    margin: 20px 0px 0px 0px;
    width:250px;
}

.footer-desc-redes a{
    color:white;
}


